 <div class="wrapper__center__bottom">

                <div class="first">

                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">자세히 보기</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>

                </div>
                <div class="second">
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>


                </div>

            </div>