<!Doctype html>
<html lang="ko">
<!-- 템플릿 적용하고 나서 각 스크립트 함수 $('.first) 부분 주석 해제!!!-->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--    템플릿 적용 CSS / JS-->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/css/fontawesome.css"/>
    <link rel="stylesheet" href="static/css/templatemo-style.css?after" type="text/css"/>
    <link rel="stylesheet" href="static/css/owl.css"/>
    <link rel="stylesheet" href="static/css/lightbox.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex-slider.css') }}">
    <title>9조.</title>

    <!-- style -->
    <style type="text/css">
        #card_img {
            width: 200px;
            height: auto;
            display: block;
            margin: auto;
        }

        #card_img_base {
            width: 250px;
            height: 300px;
        }

        .card {
            width: 200px;
            height: 480px;
            float: left;
            min-width: 230px;
            /*margin-bottom: 10px!important;*/
            margin: 0px 10px 10px 0px !important;
        }

        .card-title {
            color: black;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            margin: 0px !important;
            padding: 0px 50px 0px 0px !important;
        }

        .card-text {
            width: 240px;
            height: 110px;
            color: black;
            text-align: center;
            position: relative;
            /*word-break:break-all!important;*/
            white-space: pre-wrap !important;
            padding: 10px 20px 0px 25px !important;
        }

        .card-body {
            width: 300px;
            height: 200px;
            /*position: fixed;*/
            overflow: hidden;
            padding: 0px;
            font-size: 15px;
        }

        .card_p {
            overflow: auto;
        }

        .sideBanner {
            position: absolute;
            width: 200px;
            /*height: 470px;*/
            overflow: hidden;
            /*height: auto;*/
            max-height: 570px!important;
            top: 50px;
            background-color: floralwhite;
            color: #ffffff;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            border: solid 1px black;
            border-radius: 10px;
            /*display: block;*/
            /*float: right;*/
            margin: 80px 0px 0px 1200px;
            padding-top: 10px;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            z-index: 5;

        }
        .basket_title {
            border-bottom: solid 2px #454545;
            margin: 0px;
            padding: 10px 0px 0px 0px;
        }
        .basket_txt {
            overflow: auto;
            height: auto;
            min-height: 150px;
            max-height: 456px;
            border-bottom: solid 2px #454545;
            margin: 0px;
            padding: 10px 0px 0px 0px;
        }
        .radio_label:hover {
            color: #a43f49;
        }
        .isotope-toolbar {
            text-align: center;
            margin: 0px 70px 20px 0px;
        }
        .modal-content {
            width: 100%;
            margin: auto auto auto 30px;
            top: 150px;
        }
        .select-btn {
            outline: none;
            background-color: #a43f49;
            color: #fff;
            border-radius: 10px;
            margin-top: 8px;
        }
        #select-btn-02 {
            display: block;
            float: right!important;
            outline: none;
            background-color: #a43f49;
            color: #fff;
            font-weight: bold;
            border-radius: 10px;
            padding: 0px 3px 0px 4px!important;
            margin-right: 10px;
        }
    </style>

    <!-- JavaScript -->
    <script>
        $(document).ready(function () {
            $('#select-list').html("")
            showAll()
            showCookie()
        })

        function dataReset() {
            $.ajax({
                type: "GET",
                url: '/api/data/data-reset',
                data: {},
                success: function (response) {
                    alert(response['msg']);
                    location.reload();
                }
            })
        }

        function showAll() {
            $.ajax({
                type: "GET",
                url: "/api/data/all",
                data: {},
                success: function (response) {
                    let allContents = response['data']

                    if (response['data'].length <= 0) {
                        alert('데이터 세팅을 해주세요!')
                        $('#DataResetBtn').focus()
                    }

                    for (let i = 0; i < allContents.length; i++) {
                        let name = allContents[i]['name']
                        let title = allContents[i]['title']
                        let image = allContents[i]['image']
                        let desc = allContents[i]['desc']
                        let type = allContents[i]['type']

                        let temp_html = `<div class="card">
                                            <button id="${title}" onclick="SettingModal(this.id)" type="button" data-toggle="modal" data-target="#exampleModal">
                                                <img id="card_img" class="card-img-top ${title}" src=${image} alt="Card image cap" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0">
                                                <input class="${title}" value="${name}" type="hidden">
                                                <input class="${title}" value="${desc}" type="hidden">
                                            </button>
                                            <button onclick="toggleCookie(this)" class="${title} &${type}" style="position: absolute; background-color: white">선택하기</button>
                                        </div>`
                        $('#card-box').append(temp_html)
                    }
                }
            })
        }

        function showDrama() {
            $("#card-box").html("");
            $.ajax({
                type: "GET",
                url: "/api/data/drama",
                data: {},
                success: function (response) {
                    let allDrama = response['data']

                    if (response['data'].length <= 0) {
                        alert('데이터 세팅을 해주세요!')
                        $('#DataResetBtn').focus()
                    }

                    for (let i = 0; i < allDrama.length; i++) {
                        let name = allDrama[i]['name']
                        let title = allDrama[i]['title']
                        let image = allDrama[i]['image']
                        let desc = allDrama[i]['desc']
                        let temp_html = `<div class="card">
                                            <button id="${title}" onclick="SettingModal(this.id)" type="button" data-toggle="modal" data-target="#exampleModal">
                                                <img id="card_img" class="card-img-top ${title}" src=${image} alt="Card image cap" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0">
                                                <input class="${title}" value="${name}" type="hidden">
                                                <input class="${title}" value="${desc}" type="hidden">
                                            </button>
                                            <button onclick="toggleCookie(this)" class="${title}" style="position: absolute; background-color: white">선택하기</button>
                                        </div>`
                        $('#card-box').append(temp_html)
                    }

                }
            })
        }

        function showEntertainment() {
            $("#card-box").html("");
            $.ajax({
                type: "GET",
                url: "/api/data/entertainment",
                data: {},
                success: function (response) {
                    let allEntertainment = response['data']

                    if (response['data'].length <= 0) {
                        alert('데이터 세팅을 해주세요!')
                        $('#DataResetBtn').focus()
                    }

                    for (let i = 0; i < allEntertainment.length; i++) {
                        let name = allEntertainment[i]['name']
                        let title = allEntertainment[i]['title']
                        let image = allEntertainment[i]['image']
                        let desc = allEntertainment[i]['desc']
                        let temp_html = `<div class="card">
                                            <button id="${title}" onclick="SettingModal(this.id)" type="button" data-toggle="modal" data-target="#exampleModal">
                                                <img id="card_img" class="card-img-top ${title}" src=${image} alt="Card image cap" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0">
                                                <input class="${title}" value="${name}" type="hidden">
                                                <input class="${title}" value="${desc}" type="hidden">
                                            </button>
                                            <button onclick="toggleCookie(this)" class="${title}" style="position: absolute; background-color: white">선택하기</button>
                                        </div>`
                        $('#card-box').append(temp_html)
                    }

                }
            })
        }

        function SettingModal(id) {
            let classNames = document.getElementsByClassName(id)

            $('#modal-title').text(id);
            $('#modal_img').attr("src", classNames[0].getAttribute('src'));

            if (classNames[2].getAttribute('value') == 'null') {
                $('#modal_desc').text('')
                $('#modal_desc').append(`<a href="https://search.naver.com/search.naver?where=nexearch&sm=top_sug.pre&fbm=1&acr=1&acq=dhdnjfdml&qdt=0&ie=utf8&query=${id}" target="_blank">${id} 네이버 검색하기</a>`);
                return;
            }
            $('#modal_desc').text(classNames[2].getAttribute('value'));
        }


        function showCookie() {
            let cookeList = document.cookie.split('; ');

            if (cookeList != '') {
                for (let i = 0; i < cookeList.length; i++) {
                    let titleName = cookeList[i].split('=')[0];
                    let temp_html = `<p style="overflow: hidden">${titleName}<button type="button"
                                                        class="${titleName}"
                                                        id="select-btn-02"
                                                        onclick="toggleCookie(this)"
                                                        >X
                                                </button></p>`;
                    $('#select-list').append(temp_html);
                }
            }
        }

        function isCookie(target) {
            let cookeList = document.cookie.split('; ');

            for (let i = 0; i < cookeList.length; i++) {
                let titleName = cookeList[i].split('=')[0];

                if (target == titleName) {
                    return true;
                }
            }
            return false;
        }

        function toggleCookie(e) {
            let selectionMedia = e.getAttribute('class').replaceAll(" ", "").split('&');
            let exDate = new Date();

            if (isCookie(selectionMedia[0])) {
                let cookie_value = escape(selectionMedia[1]) + '; expires=' + exDate.toUTCString();
                document.cookie = selectionMedia[0] + '=' + cookie_value;
                $('#select-list').empty();
                showCookie();
                return;
            }
            exDate.setDate(exDate.getDate() + 1);
            let cookie_value = escape(selectionMedia[1]) + '; expires=' + exDate.toUTCString();
            document.cookie = selectionMedia[0] + '=' + cookie_value;
            $('#select-list').empty();
            showCookie();
        }


        function recommendResult() {
            let cookeList = document.cookie.split('; ');
            let exDate = new Date();
            console.log(cookeList)

            let result = {'watcha' : 0, 'wavve' : 0}
            for (let i = 0; i < cookeList.length; i++) {
                let type = cookeList[i].split('=')[1];
                let cookie_value = escape(cookeList[i].split('=')[0]) + '; expires=' + exDate.toUTCString();
                document.cookie = cookeList[i].split('=')[0] + '=' + cookie_value;

                if (type == 'watcha') {
                    result['watcha']++;
                    continue;
                }
                result['wavve']++;
            }

            if (result['watcha'] == 0 && result['wavve']) {
                alert('1개 이상 선택하셔야 추천이 가능합니다.')
                return;
            }
            if (result['watcha'] < result['wavve']) {
                alert('wavve가 성향에 더 잘 맞습니다.')
                $('#select-list').empty();
                showCookie();
                return;
            }
            if (result['watcha'] == result['wavve']) {
                alert('watcha와 wavve 둘 다 성향과 일치합니다.')
                $('#select-list').empty();
                showCookie();
                return;
            }
            alert('watcha 성향에 더 잘 맞습니다.')
            $('#select-list').empty();
            showCookie();
        }
    </script>


    <link href="11.html" rel="html sheet"/>

</head>

<body>
    <div class="sideBanner">
        <div class="basket_title">
            <p>
            <span class="txt-label">
              당신이 선택한 컨텐츠⬇︎⬇︎⬇︎
            </span>
            </p>
        </div>
        <div id="select-list" class="basket_txt"></div>
        <p>
            <button class="select-btn" onclick="recommendResult()">결과보기</button>
        </p>
    </div>
    <div style="float: right">
        <button id="DataResetBtn" onclick="dataReset()">데이터 리셋</button>
    </div>

    <div id="page-wraper">
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
            <i class="fa fa-bars" id="menu-toggle"></i>
            <div id="menu" class="menu" style="z-index: 1!important;">
                <i class="fa fa-times" id="menu-close"></i>
                <div class="container">
                    <div class="image">
                        <a href="#"><img style="border: solid white" src="static/images/main_img.jpeg" alt=""/></a>
                    </div>
                    <div class="author-content">
                        <hr style="background-color: white; border: 1px solid white;">
                        <h4 style="color: white">OTT서비스 추천 페이지</h4>
                        <span style="color: black; font-size: 20px">여러 개만 골라보세요!</span>
                        <hr style="background-color: white; border: 1px solid white;">
                    </div>
                    <nav class="main-nav" role="navigation">
                        <ul class="main-menu">
                            <li><a href="#section1">항해99</a></li>
                            <li><a href="#section2">OTT 서비스 추천</a></li>
                        </ul>
                    </nav>
                    <div class="copyright-text">
                        <p>Copyright 2019 Reflux Design</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="section about-me" data-section="section1">
            <div class="container">
                <div class="section-heading">
                    <h2>지금 출항합니다.</h2>
                    <div class="line-dec"></div>
                    <span style="line-height: 30px"
                    >항해99는 코딩에 대한 사전지식이 없는 성인을 대상으로, 99일 간의 팀 프로젝트 기반의 자기주도적 성장을 통해
                  현업에 바로 투입 가능한 주니어 개발자를 양성하는 온라인 부트캠프입니다.
                  99일간의 항해로, 훌륭한 개발자로 성장해나갈 수 있는 기반을 닦으세요. 때론 높은 파도가 치겠지만, 거친 바다를 헤쳐나간 경험이 소중한 자산으로 남을 것입니다.
                </span
                >
                </div>
                <div class="left-image-post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="static/images/hanghae_ship.jpeg" alt=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-text">
                                <h2 style="font-weight: bold">토이프로젝트 - OTT서비스 추천</h2>
                                <p style="line-height: 30px; font-size: 15px;">
                                    무작위 컨텐츠 중 여러 개를 고르면 당신에게 알맞는 OTT서비스를 추천!!<br/>
                                    아래의 포스터가 무슨 컨텐츠인지 모르겠다면 '자세히 보기'를 Click!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section my-work" data-section="section2">
            <div class="container">
                <div class="section-heading">
                    <h2>골라보세요!</h2>
                    <div class="line-dec"></div>
                    <span style="line-height: 30px"
                    >여러 개를 골라보세요!<br/>
                  무슨 컨텐츠인지 잘 모르겠다면 "자세히 보기"를 Click!
                </span>
                </div>
                <div style="width: 1000px" class="row">
                    <div class="isotope-wrapper">
                        <form class="isotope-toolbar">
                            <label class="radio_label"
                            ><input
                                    type="radio"
                                    data-type="*"
                                    checked=""
                                    name="isotope-filter"
                            />
                                <span>전체</span></label
                            >
                            <label class="radio_label"
                                   onclick="showDrama()"
                            ><input
                                    type="radio"
                                    data-type="drama"
                                    name="isotope-filter"
                            />
                                <span>드라마</span></label
                            >
                            <label class="radio_label"
                                   onclick="showEntertainment()"
                            ><input
                                    type="radio"
                                    data-type="entertainment"
                                    name="isotope-filter"
                            />
                                <span>예능</span></label
                            >
                        </form>
                    </div>
                    <div id="card-box" class="card-deck" style="width: 79%">

                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modal-title" class="modal-title" id="exampleModalLabel" style="color: black"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: black">
                    <img id="modal_img">
                    <hr/>
                    <div id="modal_desc"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        닫기
                    </button>
                </div>
            </div>
        </div>
    </div>

<!--    <script src="static/vendor/jquery/jquery.min.js"></script>-->
<!--    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

    <script src="static/js/isotope.min.js"></script>
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/lightbox.js"></script>
    <script src="static/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $(".main-menu li:first").addClass("active");

        var showSection = function showSection(section, isAnimate) {
            var direction = section.replace(/#/, ""),
                reqSection = $(".section").filter(
                    '[data-section="' + direction + '"]'
                ),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $("body, html").animate(
                    {
                        scrollTop: reqSectionPos
                    },
                    800
                );
            } else {
                $("body, html").scrollTop(reqSectionPos);
            }
        };

        var checkSection = function checkSection() {
            $(".section").each(function () {
                var $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var currentId = $this.data("section"),
                        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
                    reqLink
                        .closest("li")
                        .addClass("active")
                        .siblings()
                        .removeClass("active");
                }
            });
        };

        $(".main-menu").on("click", "a", function (e) {
            e.preventDefault();
            showSection($(this).attr("href"), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
        // 모달 script
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });
        // 장바구니 스크롤
        let floatPosition = parseInt($(".sideBanner").css('top'))

        // scroll 인식
        $(window).scroll(function () {
            // 현재 스크롤 위치
            let currentTop = $(window).scrollTop();
            let bannerTop = currentTop + floatPosition + "px";

            //이동 애니메이션
            $(".sideBanner").stop().animate({
                "top": bannerTop
            }, 500);
        }).scroll();
    </script>
</body>

</html>