<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <!-- 구글폰트, 나중에 원할때 하자 -->
    <!-- TODO -->

    <link href="index.css" rel="stylesheet"/>

    <title>9조.</title>

    <!-- style -->
    <style type="text/css"></style>

    <!-- JavaScript -->
    <script></script>

    <link href="11.html" rel="html sheet"/>

</head>

<body>
<div class="back">
    <span>항해 99 9조대</span>


    <div class="wrapper">

        <!--        좌측입니다.-->

        <div class="wrapper__left">
            <button class="movie">영화</button>
            <button class="drama">드라마</button>
        </div>

        <!--        센터입니다-->

        <div class="wrapper__center">
            <div class="wrapper__center__top">
                <div class="recommendation">추천작</div>
                <button class="refresh">다른 작품 추천 받기</button>

            </div>

            <hr class="hr"/>

            <div class="wrapper__center__bottom">

                <div class="first">

                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">자세히 보기</button>



                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>

                </div>
                <div class="second">
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" class="img">
                        <h4 style="text-align: center">dddddddddddddd</h4>
                        <div class="Contents">내ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ용</div>
                        <button type="button"  style="width: 97%; margin-left: 4px; margin-top: 5px" class="btn btn-outline-primary">Primary</button>


                    </div>


                </div>

            </div>


        </div>

        <!--        우측입니다.-->

        <div class="wrapper__right">
            <div class="cookie">쿠키</div>
            <button class="check">확인</button>

        </div>


    </div>


</div>
</body>

</html>