<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- TODO 구글폰트, 나중에 원할때 하자 -->

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <title>9조.</title>

    <!-- style -->
    <style type="text/css"></style>

    <!-- JavaScript -->
    <script>
        $(document).ready(function () {
            showAll()
            $.ajax({
                type: "GET",
                url: "/api/data",
                success: function (response) {
                    if (response['data'].length <= 0) {
                        alert('데이터 세팅을 해주세요!')
                        $('#DataResetBtn').focus()
                    }
                    console.log(response['data'])
                }
            })
        })

        function dataReset() {
            $.ajax({
                type: "GET",
                url: '/api/data-reset',
                data: {},
                success: function (response) {
                    alert(response['msg']);
                    location.reload();
                }
            })
        }

        function showAll() {
            $(".first").html("");
            $(".second").html("");
            $.ajax({
                type: "GET",
                url: "/api/data",
                data: {},
                success: function (response) {
                    let allContents = response['data']
                    for (let i = 0; i < allContents.length; i++) {
                        let name = allContents[i]['name']
                        let title = allContents[i]['title']
                        let image = allContents[i]['image']
                        let desc = allContents[i]['desc']
                        let temp_html = `<div style="width:20vw;" class="cards" id="${name}">
                                                <img style="width:20vw;" src="${image}">
                                                <h4 style="text-align: center">${title}</h4>
                                                <div class="Contents">${desc}</div>
                                                <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                                        class="btn btn-outline-primary">자세히 보기
                                                </button>
                                              </div>`
                        $('.first').append(temp_html)
                    }
                }
            })
        }

        function showDrama() {
            $(".first").html("");
            $(".second").html("");
            $.ajax({
                type: "GET",
                url: "/api/drama",
                data: {},
                success: function (response) {
                    let allDrama = response['drama']
                    for (let i = 0; i < allDrama.length; i++) {
                        let name = allDrama[i]['name']
                        let title = allDrama[i]['title']
                        let image = allDrama[i]['image']
                        let desc = allDrama[i]['desc']
                        let temp_html = `<div style="width:20vw;" class="cards" id="${name}">
                                                <img style="width:20vw;" src="${image}">
                                                <h4 style="text-align: center">${title}</h4>
                                                <div class="Contents">${desc}</div>
                                                <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                                        class="btn btn-outline-primary">자세히 보기
                                                </button>
                                              </div>`
                        $('.first').append(temp_html)
                    }

                }
            })
        }

        function showEntertainment() {
            $(".first").html("");
            $(".second").html("");
            $.ajax({
                type: "GET",
                url: "/api/entertainment",
                data: {},
                success: function (response) {
                    let allEntertainment = response['entertainment']
                    for (let i = 0; i < allEntertainment.length; i++) {
                        let name = allEntertainment[i]['name']
                        let title = allEntertainment[i]['title']
                        let image = allEntertainment[i]['image']
                        let desc = allEntertainment[i]['desc']
                        let temp_html = `<div style="width:20vw;" class="cards" id="${name}">
                                                <img style="width:20vw;" src="${image}">
                                                <h4 style="text-align: center">${title}</h4>
                                                <div class="Contents">${desc}</div>
                                                <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                                        class="btn btn-outline-primary">자세히 보기
                                                </button>
                                              </div>`
                        $('.first').append(temp_html)
                    }

                }
            })
        }


    </script>


    <link href="11.html" rel="html sheet"/>

</head>

<body>
<div class="team9">항해99 9조대</div>
<div class="back">


    <div class="wrapper">

        <!--        좌측입니다.-->

        <div class="wrapper__left">


            <button onclick="showEntertainment()" type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                    class="btn btn-outline-primary button movie">


                예능

            </button>

            <button onclick="showDrama()" type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                    class="btn btn-outline-primary button drama">


                드라마
            </button>


        </div>

        <!--        센터입니다-->

        <div class="wrapper__center">
            <div class="wrapper__center__top">
                <div class="recommendation">
                    <strong>추 천 작</strong>
                </div>

                <button onclick="showAll()" type="button" style="width: 28%; margin-left: 4px; margin-top: 5px"
                        class="btn btn-outline-primary button refresh">
                    다른 작품 추천 받기
                </button>

            </div>


            <div class="wrapper__center__bottom">

                <div class="first">

                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                             class="img">
                        <h4 class="intex">제 목</h4>

                        <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                class="btn btn-outline-primary button">자세히 보기
                        </button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                             class="img">
                        <h4 class="intex"> 제 목</h4>

                        <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                class="btn btn-outline-primary button">자세히 보기
                        </button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                             class="img">
                        <h4 class="intex">제 dddddㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ목</h4>

                        <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                class="btn btn-outline-primary button">자세히 보기
                        </button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                             class="img">
                        <h4 class="intex">제 목</h4>

                        <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                class="btn btn-outline-primary button">자세히 보기
                        </button>


                    </div>

                </div>
                <div class="second">
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                             class="img">
                        <h4 class="intex">제 목</h4>

                        <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                class="btn btn-outline-primary button">자세히 보기
                        </button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                             class="img">
                        <h4 class="intex">제 목</h4>

                        <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                class="btn btn-outline-primary button">자세히 보기
                        </button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                             class="img">
                        <h4 class="intex">제 목</h4>

                        <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                class="btn btn-outline-primary button">자세히 보기
                        </button>


                    </div>
                    <div class="cards">
                        <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                             class="img">
                        <h4 class="intex">제 목</h4>

                        <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                                class="btn btn-outline-primary button">자세히 보기
                        </button>


                    </div>


                </div>

            </div>


        </div>

        <!--        우측입니다.-->

        <div class="wrapper__right">
            <div class="cookie">
                <div class="cookie__incookie">

                    <div class="intext">
                        ㅇㅇㅇㅇㅇㅇㅇ
                    </div>


                    <button type="button" class="btn btn-danger icon">

                        <strong>X</strong>
                    </button>


                </div>
                <div class="cookie__incookie">

                    <div class="intext">
                        ㅇㅇㅇㅇㅇㅇㅇ
                    </div>


                    <button type="button" class="btn btn-danger icon">

                        <strong>X</strong>
                    </button>


                </div>
                <div class="cookie__incookie">

                    <div class="intext">
                        ㅇㅇㅇㅇㅇㅇㅇ
                    </div>


                    <button type="button" class="btn btn-danger icon">

                        <strong>X</strong>
                    </button>


                </div>
                <div class="cookie__incookie">

                    <div class="intext">
                        ㅇㅇㅇㅇㅇㅇㅇ
                    </div>


                    <button type="button" class="btn btn-danger icon">

                        <strong>X</strong>
                    </button>


                </div>
                <div class="cookie__incookie">

                    <div class="intext">
                        ㅇㅇㅇㅇㅇㅇㅇ
                    </div>


                    <button type="button" class="btn btn-danger icon">

                        <strong>X</strong>
                    </button>


                </div>
                <div class="cookie__incookie">

                    <div class="intext">
                        ㅇㅇㅇㅇㅇㅇㅇ
                    </div>


                    <button type="button" class="btn btn-danger icon">

                        <strong>X</strong>
                    </button>


                </div>
                <div class="cookie__incookie">

                    <div class="intext">
                        ㅇㅇㅇㅇㅇㅇㅇ
                    </div>


                    <button type="button" class="btn btn-danger icon">

                        <strong>X</strong>
                    </button>


                </div>
                <div class="cookie__incookie">

                    <div class="intext">
                        ㅇㅇㅇㅇㅇㅇㅇ
                    </div>


                    <button type="button" class="btn btn-danger icon">

                        <strong>X</strong>
                    </button>


                </div>


            </div>


            <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"
                    class="btn btn-outline-primary button check"> 확 인
            </button>

        </div>


    </div>

</div>

<button id="DataResetBtn" onclick="dataReset()">데이터 리셋</button>

<!--!&#45;&#45;ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅇㅇㅇㅇㅇㅇㅡㅡㅡ 모달창 ㅡㅡㅡㅡㅇㅇㅇㅇㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ&ndash;&gt;-->
<!--<div class="modal">-->
<!--    <img src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"-->
<!--         class="modal__life">-->


<!--    </img>-->
<!--    <div class="modal__right">-->
<!--        <div class="modal__right__index">제목-->

<!--        </div>-->
<!--        <div class="modal__right__summary">-->
<!--            줄거리줄거리줄거리줄거리줄거리줄거리줄거리거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리줄거리-->

<!--        </div>-->
<!--        <div class="modal__right__cast"-->
<!--        "> 출연진-->

<!--    </div>-->

<!--    <div class="modal__right__cc">-->

<!--        <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"-->
<!--                class="btn btn-outline-primary choice">-->

<!--            <strong>선택</strong>-->

<!--        </button>-->

<!--        <button type="button" style="width: 97%; margin-left: 4px; margin-top: 5px"-->
<!--                class="btn btn-outline-primary cancel">-->

<!--            <strong>돌아가기</strong>-->
<!--        </button>-->

<!--    </div>-->

<!--</div>-->


<!--</div>-->

<!--test 지울거-->
<!--<button type="button" class="btn btn-primary"-->
<!--      data-toggle="modal" data-target="#exampleModal">-->
<!--        Launch demo modal-->
<!--</button>-->

<!--<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">-->
<!--                    Modal title-->
<!--                </h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                ...-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">-->
<!--                    Close-->
<!--                </button>-->
<!--                <button type="button" class="btn btn-primary">-->
<!--                    Save changes-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


</body>

</html>